.home__header{
    background-color: #dc4c3e;
    padding: 2rem;
    position: relative;

    h1{
        text-align: center;
        vertical-align: center;
        color: #FFF;
        margin: 0 auto;
    }
}

.home__sidebar{
    display: flex;
    width: 200px;
    flex-direction: column;
    border-right: 1px solid #d3d3d3;
    height: 100vh;
}

.home__principal{
    display: flex;
}

.home__content{
    h1{
        margin: 0;
    }
}

.home__loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}