
:root{
    --mainColor: #202020;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}
html,body{
    height: 100%;
}

*,*::before,*::after {
    box-sizing: inherit;
}


a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    ;
}
h1{

    ;
    color: var(--mainColor);
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}
.content__principal{
    position: relative;
}
.content__header{
    margin-left: 2rem;
}

.content__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
}

.content__aside{
    background-image: url("../../assets/Login.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.content__footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    h1{
        font-size: 3rem;
        word-break: break-all;
    }
}

